/* .ant-pagination {
  display: none !important;
} */

.ant-table-cell {
  text-align: center !important;
}

.ant-table-tbody{
  text-align: left;
}

.ant-picker {
  width: 100%;
}

.ant-btn-primary {
 background-color: #3C6D73 !important;
 border-radius: 5px !important;
}

.ant-btn-default {
  border-color: #3C6D73 !important;
  border-radius: 5px !important;
  color: #3C6D73 !important;
}

.ant-btn-dangerous {
  color: #ff4d4f !important;
  border-color: #ff4d4f !important;
  background: #fff ;
}

p {
  margin-bottom: 0 !important;
}

.ant-modal{
  padding-bottom: 0 !important;
}